@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("../components/admin/home/map/cluster.css");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
}
body {
  overflow-x: hidden !important;
  font-family: "Poppins";
  
}
/* scrroll display none */
.custom-scroll::-webkit-scrollbar {
  display: none !important;
}
.custom-btn {
  background-color: #1a202c; /* Equivalent to bg-gray-900 */

  color: #ffffff; /* Equivalent to text-white */
  font-weight: 400; /* Equivalent to font-bold */
  padding: 0.5rem 1rem; /* Equivalent to py-2 px-4 */
  border-radius: 0.375rem; /* Equivalent to rounded */
}

.custom-btn:hover {
  background-color: #2d3748; /* Equivalent to hover:bg-gray-800 */
}
/* Add this CSS to your styles */
.swiper-slide img {
  max-height: 100px; /* Set the desired maximum height */
  max-width: 100px; /* Set the desired maximum width */
}
/* ant modal footer  ok button */

button.ant-btn.css-dev-only-do-not-override-xu9wm8.ant-btn-primary,
button.ant-btn.css-xu9wm8.ant-btn-primary
 {
  background-color: #1a202c !important; /* Equivalent to bg-gray-900 */

  color: #ffffff; /* Equivalent to text-white */
   font-weight: 500;
  padding: 0.5rem 1rem; /* Equivalent to py-2 px-4 */
  border-radius: 0.375rem; /* Equivalent to rounded */
  height: 100%;
}
/* ant modal footer  cancel button */
 /* Add this CSS to your stylesheets */

/*  */
/* ant modal -full modal bg */
div.ant-modal-content{
  background-color: #f8f9fadc !important;
}

/* material ui tooltip */

.custom-tooltip {
  background-color: #1a202c !important;
  color: #ffffff !important;
  font-size: 12px !important;
  padding: 12px !important;
  border-radius: 8px !important;
  opacity: 1  !important; /* Override default opacity */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;

}
