@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("../components/admin/home/map/cluster.css");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
body {
  overflow-x: hidden !important;
  font-family: "Poppins";
  
}
/* scrroll display none */
.custom-scroll::-webkit-scrollbar {
  display: none !important;
}
.custom-btn {
  background-color: #1a202c; /* Equivalent to bg-gray-900 */

  color: #ffffff; /* Equivalent to text-white */
  font-weight: 400; /* Equivalent to font-bold */
  padding: 0.5rem 1rem; /* Equivalent to py-2 px-4 */
  border-radius: 0.375rem; /* Equivalent to rounded */
}

.custom-btn:hover {
  background-color: #2d3748; /* Equivalent to hover:bg-gray-800 */
}
/* Add this CSS to your styles */

/* ant modal footer  ok button */

button.ant-btn.css-dev-only-do-not-override-xu9wm8.ant-btn-primary,
button.ant-btn.css-xu9wm8.ant-btn-primary
 {
  background-color: #1a202c !important; /* Equivalent to bg-gray-900 */

  color: #ffffff; /* Equivalent to text-white */
   font-weight: 500;
  padding: 0.5rem 1rem; /* Equivalent to py-2 px-4 */
  border-radius: 0.375rem; /* Equivalent to rounded */
  height: 100%;
}
/* ant modal footer  cancel button */
 /* Add this CSS to your stylesheets */

/*  */
/* ant modal -full modal bg */
div.ant-modal-content{
  background-color: #f9fafb !important;
}

/* material ui tooltip */

.custom-tooltip {
  background-color: #1a202c !important;
  color: #ffffff !important;
  font-size: 12px !important;
  padding: 12px !important;
  border-radius: 8px !important;
  opacity: 1  !important; /* Override default opacity */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;

}
/*  */

/* Add this CSS to your styles file */


.ant-select-item.ant-select-item-option.ant-select-item-option-active.ant-select-item-option-selected {
  background-color: #22c55e;
   /* Set the background color for the active option */
}
/* swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 0px 0px 0px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  cursor: pointer;
}



.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.9;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
 
}

